apiVersion: apps/v1
kind: Deployment
metadata:
  name: vikunja
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: vikunja
  template:
    metadata:
      labels:
        app: vikunja
    spec:
      containers:
        - name: vikunja
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 3456
          envFrom:
            - configMapRef:
                name: vikunja-config
            - secretRef:
                name: vikunja-secret
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
          livenessProbe:
            httpGet:
              path: /health
              port: 3456
            initialDelaySeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 3456
            initialDelaySeconds: 10
          volumeMounts:
            - name: cache
              mountPath: /.cache
      volumes:
        - name: cache
          emptyDir: {}
