apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "vikunja.fullname" . }}-db-pvc
  labels:
    {{- include "vikunja.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.database.storage }}